/* main colors */
/* Mixin to set content to flex and center it */
/* Mixin to set content to grid and center it */
/* Margin and padding mixins to quickly and easily set them */
/* smt: small tall, smw: small wide, md: medium, lg: large */
#banner-nav {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

#banner-logo {
  margin-left: 1%;
  margin-top: 1%;
  width: 10%;
}

#logo {
  width: 80%;
  padding-bottom: 18%;
}

#nav {
  height: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
}

#nav div {
  margin: 30%;
  margin-top: 5%;
  font-size: 2rem;
  color: #78009E;
  padding: 0 2%;
}

#nav div:hover {
  border-bottom: 2px solid #AA76CD;
}

#nav div a, #nav div a:visited, #nav div a:active {
  color: #78009E;
}

#profile-icon {
  text-align: right;
  margin-top: 0.5%;
  margin-right: 1%;
  width: 10%;
}

#icon {
  width: 35%;
  border-radius: 100%;
}

#icon:hover {
  border-bottom: 2.5px solid #AA76CD;
  border-radius: 100%;
}

#register-form, #login-form {
  display: grid;
  width: 40%;
  padding: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  border: 2px solid black;
  border-radius: 0.5rem;
}

#register-form label, #login-form label {
  text-align: right;
  margin: 0.5rem 0;
}

#register-form input, #login-form input {
  margin: 0.5rem 0.5rem;
}

#register-form button, #login-form button {
  padding: 0.25rem 0.35rem;
  border-radius: 0.35rem;
  border: 2px solid black;
}

#register-form button, #register-form h2, #login-form button, #login-form h2 {
  grid-column: 1/span 2;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.posts-area {
  width: 70%;
  margin: 0 auto;
  margin-top: 4%;
}

.posts-links {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.posts-links p {
  padding: 0 1%;
  border-bottom: 2px solid transparent;
}

.posts-links p:hover {
  border-bottom: 1px solid #AA76CD;
  cursor: pointer;
}

.home-links {
  display: flex;
  justify-content: space-between;
  margin: 0 40%;
}

.home-links p {
  padding: 0 1%;
  border-bottom: 2px solid transparent;
}

.home-links p:hover {
  border-bottom: 1px solid #AA76CD;
  cursor: pointer;
}

#posts-list {
  border: 2px solid #AA76CD;
  border-radius: 0.5rem;
}

.posts {
  padding: 1.5% 3%;
  display: flex;
  border-bottom: 2px solid #AA76CD;
}

.post-profile {
  width: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-data {
  display: flex;
}

.post-name {
  font-weight: bold;
}

.post-name:hover {
  cursor: pointer;
}

.post-date {
  margin-left: 2%;
}

.post-content {
  margin-top: 0.5%;
}

.post-interact a {
  margin-right: 4%;
}

.post-interact a:hover {
  cursor: pointer;
}

.reply-icon, .repost-icon, .like-icon {
  color: black;
  text-decoration: none;
}

#create-reply {
  display: flex;
  align-items: center;
}

#reply-input {
  display: flex;
  flex-direction: row;
}

#reply-btn {
  margin-left: auto;
}

#reply-btn button {
  background-color: #BCC8FF;
  padding: 15% 20%;
  border-radius: 2rem;
}

#reply-btn button:hover {
  border: 2px solid #AA76CD;
}

#reply-txt {
  background-color: #E8FFFC;
  border: none;
  width: 100%;
}

#reply-txt:focus {
  outline: none;
}

#register {
  grid-column: 1/span 2;
  margin: auto;
  margin-bottom: 0.5rem;
}

#register-link {
  color: blue;
  text-decoration: underline;
}

#register-link:hover {
  cursor: pointer;
}

#register-form p {
  font-size: small;
  margin-left: 0.5rem;
}

#profile {
  width: 60%;
  padding: 2%;
  border: 2px solid #BCC8FF;
  border-radius: 1rem;
}

#user-row {
  display: flex;
}

#picture-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}

.picture {
  width: 80%;
  border-radius: 100%;
}

#user-data {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  margin-top: 0.5%;
}

#user-data p {
  margin-top: 0.5%;
}

#bio {
  margin: auto;
}

#profile-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 15%;
  margin-right: 5%;
}

#followBtn {
  background-color: #BCC8FF;
  padding: 7.5%;
  border-radius: 0.75rem;
}

#followBtn:hover {
  border: 2px solid #AA76CD;
}

#search-bar {
  margin-bottom: 0.75%;
  background-color: #E8FFFC;
  border: 2px solid #AA76CD;
  border-radius: 0.5rem;
}

#search-bar:focus {
  outline: none;
}

body {
  background-color: #E8FFFC;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
}

p {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */