// posts area
.posts-area {
    width: 70%;
    margin: 0 auto;
    margin-top: 4%;
}

// posts links area for profile and home
.posts-links {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.posts-links p {
    padding: 0 1%;
    border-bottom: 2px solid transparent;
}
.posts-links p:hover{
    border-bottom: 1px solid $third-color;
    cursor: pointer;
}
.home-links {
    display: flex;
    justify-content: space-between;
    margin: 0 40%;
}
.home-links p {
    padding: 0 1%;
    border-bottom: 2px solid transparent;
}
.home-links p:hover{
    border-bottom: 1px solid $third-color;
    cursor: pointer;
}

// posts, replies and reposts content area
#posts-list {
    border: 2px solid $third-color;
    border-radius: 0.5rem;
    margin-bottom: 5%;
}
.posts {
    padding: 1.5% 3%;
    display: flex;
    border-bottom: 2px solid $third-color;
}
.reply-post, .repost-post {
    padding: 1.5% 3%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $third-color;
}
.reply, .repost {
    display: flex;
    margin-bottom: 1%;
}
.replied-post, .reposted-post {
    padding: 1.5% 3%;
    display: flex;
    border: 2px solid $third-color;
    border-radius: 0.5rem;
}
// author of post profile image
.post-profile {
    width: 10%;
}

// post content
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.post-data {
    display: flex;
}
.post-name:hover {
    cursor: pointer;
}
.post-date {
    margin-left: 1%;
}
.post-content {
    display: flex;
    margin-top: 0.5%;
}
.post-interact a {
    margin-right: 4%;
}
.post-interact a:hover {
    cursor: pointer;
}
.reply-icon, .repost-icon, .like-icon {
    color: black;
    text-decoration: none;
}

// create reply area under original post
#create-reply, #create-post {
    display: flex;
    align-items: center;
}
#reply-input, #post-input {
    display: flex;
    flex-direction: row;
}
#reply-btn, #post-btn {
    margin-left: auto;
}
#reply-btn button, #post-btn button {
    background-color: $fourth-color;
    padding: 15% 20%;
    border-radius: 2rem;
}
#reply-btn button:hover, #post-btn button:hover {
    border: 2px solid $third-color;    
}
#reply-txt, #post-txt {
    background-color: $primary-color;
    border: none;
    width: 100%;
}
#reply-txt:focus, #post-txt:focus {
    outline: none;
}