// profile section
#profile {
    width: 60%;
    padding: 2%;
    border: 2px solid $fourth-color;
    border-radius: 1rem;
}

// profile overview row
#user-row {
    display: flex;
}


// profile picture and displayname
#picture-name {
    @include flex-center;
    flex-direction: column;
    width: 20%;
}
.picture {
    width: 80%;
    border-radius: 100%;
}

// user data
#user-data {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    margin-top: 0.5%;
}
#user-data p {
    margin-top: 0.5%;
}

// user bio
#bio {
    margin: auto;
}

// follow / edit area
#profile-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 15%;
    margin-right: 5%;
}
#editBtn {
    background-color: $fourth-color;
    padding: 15% 25%;
    border-radius: 2rem;
}
#editBtn:hover {
    border: 2px solid $third-color;
}